/* import unifont font */
@font-face {
  font-family: "Unifont";
  src: url("unifont-16.0.04.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  
  overflow: none;
  font-size: 16px;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
  font-size: inherit;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  
  background-color: #505050;
  border: 1px solid #707070;
  border-radius: 2px;
  box-shadow: 0 0 4px #00000080;
  
  padding: 8px;
}

button:hover {
  background-color: #606060;
}

.root {
  background: linear-gradient(45deg, #202020, #282828);
  
  font-family: "Unifont", sans-serif;
  color: #ffffff;
  
  margin: 0;
  padding: 0;
  
  width: 100vw;
  height: 100vh;
  
  overflow: none;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.sidebar {
  width: 300px;
  
  background: linear-gradient(45deg, #303030, #383838);
  border: 1px solid #404040;
  box-shadow: 0 0 8px #00000080;
  
  padding: 16px;
  
  z-index: 2;
  
  overflow: hidden;
}

.center-content {
  flex: 1;
  
  padding: 16px;
  
  z-index: 1;
  
  overflow: auto;
}

.text-area {
  background: linear-gradient(45deg, #282828, #303030);
  border: 1px solid #404040;
  box-shadow: 0 0 8px #00000080;
  color: #ffffff;
  
  padding: 8px;
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-all;
  
  font-size: 24px;
  
  min-width: 120px;
  min-height: 60px;
}

.unicode-character {
  display: inline-block;
  white-space: pre;
  
  /* border-radius: 2px; */
  
  min-width: 12px;
  /* text-align: center; */
}

.unicode-character:hover {
  background-color: #ffffff !important;
  color: #000000;
}

.character-data-table {
  background-color: #404040;
  border: 1px solid #606060;
  border-radius: 2px;
  width: 100%;
  border-spacing: 1px;
}

td {
  border: 1px solid #606060;
  height: 24px;
}

tr:nth-child(odd) {
  background-color: #484848;
}

.character-data-property {
  font-size: 12px;
  width: 0;
}

.character-data-name {
  height: 48px;
}